@import "/src/variables.scss";

#root {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    padding: 2rem 2rem;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-text);

        h1 {
            font-size: 2rem;
            
        }

        .switcher-container {
            display: flex;
            gap: 1rem;
            font-size: .8rem;
            align-items: center;

            .theme-switcher {

                .numbers {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0rem .3rem;
                    width: 4rem;
                }

                .inputs {
                    background-color: var(--switcher-background);
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;
                    gap: 1.4rem;
                    padding: 0rem .3rem;
                    width: 4rem;
                    height: 1.5rem;
                    border-radius: 15px;
    
                    label {
                        display: flex;
                        align-items: center;

                        position: relative;
                                            

                        input {
                            margin: 0;

                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;

                            visibility: hidden;
                            position: absolute;
                            right: 0;

                            &:checked + i::before {
                                transform: scale(1);
                                opacity: 1;
                            }

                            & + i {
                                background: transparent;
                                border:2px solid rgba(0,0,0,0);
                                position: absolute; 
                                left: -2px;
                                top: -4px;
                                height: 10px;
                                width: 10px;
                                border-radius: 100%;

                                &::before {
                                    content: '';
                                    display: block;
                                    height: 12px;
                                    width: 12px;
                                    
                                    border-radius: 100%;
                                    position: absolute;
                                    z-index: 1;
                                    top: -2px;
                                    left: -1.4px;
                                    background: var(--switcher-circle);
                                    transition: all 0.25s ease; /* Todas las propiedades | tiempo | tipo movimiento */
                                    transform: scale(0) /* Lo reducimos a 0*/ ;
                                    opacity: 0; /* Lo ocultamos*/


                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .screen {
        background-color: var(--screen-background);
        color: var(--main-text);
        width: 100%;
        height: 3rem;
        border-radius: 5px;
        font-size: 1.5rem;
        text-align: right;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    .keyboard {
        background-color: var(--keyboard-background);
        padding: 1.5rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .row {
            display: flex;
            justify-content: space-between;
            gap: .5rem;

            .btn {
                padding: 0;
                width: 25%;
                height: 3rem;
                border-radius: 6px;
                border: none;
                font-size: 1.5rem;

            }

            .btn-normal {
                background-color: var(--normal-key-background);
                color: var(--normal-key-text);

            }

            .btn-delete {
                background-color: var(--del-key-background);
                color: var(--del-key-text);
            }

            .btn-equal {
                background-color: var(--equal-key-background);
                color: var(--equal-key-text);
                width: 50%;
            }

            .btn-reset {
                background-color: var(--del-key-background);
                color: var(--del-key-text);
                width: 50%;
            }

        }
    }
}
